html(lang="en")
    head   
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/styles.css")
        title #{product.name}
    body(onload=`init(${JSON.stringify(product)})`)
        include ./header
        div#main
            h1 #{product.name}   
            p Price: $#{product.price}
            p Dimensions: 
                | X: #{product.dimensions.x}
                | Y: #{product.dimensions.y}
                | Z: #{product.dimensions.z}
            p Stock: #{product.stock}
            p ID: #{product.id}
            h2 Add Review
            form#addReviewForm(action=`/products/:${product.id}/reviews` method="POST")
                p Rate: 
                    select(name="rating")
                        for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            option(value=i) #{i}
                button(type="submit") Submit Review
            if product.reviews && product.reviews.length
                h2 Reviews
                ul#reviews
                    each review in product.reviews
                        li #{review}
        